doctype html
html(lang="zh-CN")
  include ../public/_header
  body
    include ../public/_nav
    section.banner
      .container
        .row
          .col-md-12
            .banner-bg(style="background:url(../static/images/banner_04.jpg) center 0 no-repeat;")
    section.introduction#introduction
      .container
        .row
          .col-md-2.introduction-menu
            a.active(href="#") 菜单1
            a(href="#") 菜单2
            a(href="#") 菜单3
            a(href="#") 菜单4
          .col-md-10
            ol.breadcrumb
              li
                a(href="#") 首页
              li
                a(href="#") 关于
              li.active 服务介绍
            h3.text-center 标题标题标题
            hr
            p.text-center
              small 2015-12-30
            p 123213

    include ../public/_footer
    //jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    //Include all compiled plugins (below), or include individual files as needed
    script(src="../public/bootstrap/js/bootstrap.min.js")
    //base
    //script(src="static/js/base.js")
    //script(src="static/js/baseAjax.js")
    script.
      (function(window,undefined){
        var topHeight = $('.navbar').height(),
            bannerHeight = $('.banner').height(),
            footerHeight = $('footer').height(),
            reelHeight = $(window).height() - (topHeight+bannerHeight+footerHeight+9)
        $('#introduction').css('min-height',reelHeight)
      })(window)