doctype html
html(lang="zh-CN")
  include ../public/_header
  body
    include ../public/_nav
    section.banner
      div.container
        div.row
          div.col-xs-12.col-sm-12.col-md-12.col-lg-12
            div.banner-bg(style="background:url(../static/images/banner_03.jpg) center 0 no-repeat;")
    section
      div.container
        div.row
          div.col-xs-12.col-sm-12.col-md-12.col-lg-12
            ol.breadcrumb
              li
                a(href="#") 首页
              li
                a(href="#") 关于
              li.active 服务介绍
    section.news-list.list
      .container
        .row
          .col-sm-8
            .main-bx.border.border-double
              .focus-img
                img.img-responsive(src="../static/images/654654654.jpg" width="100%" height="80%")
              h3
                | 我公司投资的迅游科技今日成功登陆创业板
                p
                  small 2014-10-14 17:24:29
              p 2015年5月27日，迅游科技（证券代码：300467）登陆创业板，并在深交所举行上市仪式。四川迅游科技股份有限公司主营业务是为网游等互联网实时交互应用提供网络加速服务,主要产品是“迅游网游加速器”。“迅游网游加速器”,通过互联网智能路由导航、加速节点部署、智能加速算法等多项加速技术,为网游玩家提供网游数据传输加速服务。我公司于2010年4月投资。
              p.text-right
                a.link(href="#") +阅读全文
          .col-sm-4
            .sidebar.border
              h3.text-center.border.border-bottom 青创公告
              ul.news-hot-list
                li
                  a(href="#") 2014年度国土资源政务信息网上公开执行情况检查结果
                li
                  a(href="#") 2014年度国土资源政务信息网上公开执行情况检查结果
                li
                  a(href="#") 2014年度国土资源政务信息网上公开执行情况检查结果
          .col-sm-12
            .news-classify
              a(class="btn btn-default active" href="#" role="button") 全部
              a(class="btn btn-default" href="#" role="button") 青创新闻
              a(class="btn btn-default" href="#" role="button") 行业新闻
            .ltem-bx
              .news-ltem.border.border-bottom.clearfix.pr
                a(href="#")
                  img.pull-left(src="../static/images/QC-4-~1_06.jpg" width="320" height="150")
                .cont-text
                  h4
                    a(href="#") 我公司投资的两家企业今日登陆创业板
                    p
                      small 2014-10-14 17:24:29
                  p.indent 2015年4月22日，我公司投资的航新科技（证券代码：300424）和金雷风电（证券代码：300443）2家公司同时登陆创业板，并在深交所举行上市仪式 。广州航新航空科技股份有限公司主要从事航空机载设备研制、机载设备检测设备研制和机载设备维修服务，是国内领先的机载设备综合……
                  a.link(href="#") +阅读全文
              .news-ltem.border.border-bottom.clearfix.pr
                a(href="#")
                  img.pull-left(src="../static/images/QC-4-~1_06.jpg" width="320" height="150")
                .cont-text
                  h4
                    a(href="#") 我公司投资的两家企业今日登陆创业板
                    p
                      small 2014-10-14 17:24:29
                  p.indent 2015年4月22日，我公司投资的航新科技（证券代码：300424）和金雷风电（证券代码：300443）2家公司同时登陆创业板，并在深交所举行上市仪式 。广州航新航空科技股份有限公司主要从事航空机载设备研制、机载设备检测设备研制和机载设备维修服务，是国内领先的机载设备综合……
                  a.link(href="#") +阅读全文
              .news-ltem.border.border-bottom.clearfix.pr
                a(href="#")
                  img.pull-left(src="../static/images/QC-4-~1_06.jpg" width="320" height="150")
                .cont-text
                  h4
                    a(href="#") 我公司投资的两家企业今日登陆创业板
                    p
                      small 2014-10-14 17:24:29
                  p.indent 2015年4月22日，我公司投资的航新科技（证券代码：300424）和金雷风电（证券代码：300443）2家公司同时登陆创业板，并在深交所举行上市仪式 。广州航新航空科技股份有限公司主要从事航空机载设备研制、机载设备检测设备研制和机载设备维修服务，是国内领先的机载设备综合……
                  a.link(href="#") +阅读全文
              .news-ltem.border.border-bottom.clearfix.pr
                a(href="#")
                  img.pull-left(src="../static/images/QC-4-~1_06.jpg" width="320" height="150")
                .cont-text
                  h4
                    a(href="#") 我公司投资的两家企业今日登陆创业板
                    p
                      small 2014-10-14 17:24:29
                  p.indent 2015年4月22日，我公司投资的航新科技（证券代码：300424）和金雷风电（证券代码：300443）2家公司同时登陆创业板，并在深交所举行上市仪式 。广州航新航空科技股份有限公司主要从事航空机载设备研制、机载设备检测设备研制和机载设备维修服务，是国内领先的机载设备综合……
                  a.link(href="#") +阅读全文
    include ../public/_page
    include ../public/_footer
    //jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    //Include all compiled plugins (below), or include individual files as needed
    script(src="../public/bootstrap/js/bootstrap.min.js")
    script.
      (function(window,undefined){
        function showHeight(){
          var topHeight = $('.main-bx').height(),
          $sidebar = $('.sidebar');
          if($(window).width()>=768){
            $sidebar.height(topHeight);
          }
          else{
            $sidebar.css('height','auto');
          }
        }
        //showHeight();
        $(window).resize(showHeight);
      })(window)
    //base
    //script(src="static/js/base.js")
    //script(src="static/js/baseAjax.js")
