doctype html
html(lang="zh-CN")
  include ../public/_header
  body
    include ../public/_nav
    section
      div.container-fluid
        div.row
          div.col-xs-12.col-sm-12.col-md-12.col-lg-12
            ol.breadcrumb
              li
                a(href="#") 首页
              li
                a(href="#") 关于
              li.active 服务介绍
    section.news-details
      .container-fluid
        .row
          .col-sm-10.col-sm-offset-1
            .pic.text-center
              img.img-responsive(src="../static/images/654654654.jpg")
            h3 我公司投资的迅游科技今日成功登陆创业板
            .border.border-bottom
            small.date 发布日期：2014-10-14 17:24:29
            .news-details-cont 5月27日上午，被誉为“四川互联网第一股”的四川迅游网络科技股份有限公司（以下简称迅游科技，发行代码为300467）在深圳证券交易所创业板正式挂牌交易。值得关注的是，迅游科技是四川首家互联网上市企业，这是成都高新区多年以来培育发展新一代信息技术产业的又一成果，对四川省、成都市互联网及软件产业示范意义重大。据悉，迅游科技的发行价格为33.75元，而其首日挂牌交易开盘价为44.55元，开盘后立刻上涨到48.6元，升幅达到44%的首日上限｡成都市委常委、成都高新区党工委书记吴凯，成都高新区管委会副主任邱旭东，迅游科技董事长章建伟、总裁袁旭等共同见证了这一历史时刻。四川诞生互联网第一股5月27日上午9:25，在深圳证券交易所内，随着上市仪式的举行，大屏幕上显示出了迅游科技首日挂牌交易开盘价——44.55元！顿时，全场响起热烈的欢呼声。迅游科技的发行价格为33.75元，开盘后，股价立刻升至48.6 元，升幅达到了44%的首日上限！对于喜人的涨势，在场人士都表示在预料之中。作为“四川互联网第一股”，业内人士都十分看好迅游科技。成都高新区相关负责人告诉记者，迅游科技作为国内提供网络游戏加速服务的领先企业，是四川省首家成功上市的互联网企业，它的上市标志着成都本土企业自主创新得到了资本市场和社会的高度肯定，对四川省、成都市互联网和软件产业具有重要的示范带动意义。“我们抓住云计算发展机遇，凭借自身的专业能力和服务水平，逐步赢得了市场，取得了优秀的用户口碑，市场占有率保持行业领先地位。公司经营状况良好，2014年营业收入17807.51万元人民币，净利润5690.94万元人民币。”袁旭说，迅游科技网上发行股票量为1000万股，筹集资金 3.375亿元。袁旭表示，迅游科技未来将密切关注互联网实时交互应用市场的变化，在保证和提高现有服务品质的基础上，进一步加大新产品、新务开发力度。同时，还将密切关注其他不断涌现的新兴互联网实时交互应用的加速需求，进一步延展公司产品线，提升公司的市场竞争力和盈利能力。迅游科技八年成就创业传奇事实上，从迅游科技创业伊始，就不断受到行业和市场的垂青。2007年9月，迅游网游加速器正式上线；2008年8月，迅游网络科技正式成立；2009年1月，迅游居新浪软件年度评选游戏类软件榜首；2009年，获选“2009创业邦100”年度中国最热门成长企业；2010年4月，成功引进风险投资；2010年底，在东亚未来企业评选中脱颖而出 ；2010年，获评成都高新区软件及服务外包十佳企业；2011年，入选成都高新区年度优秀创业企业；2012年12月，迅游加速器支持游戏数量超过5000款；2013年，获评成都高新区优秀高新技术企业和软件及服务外包十佳企业；2013年6月，迅游科技累计注册用户数超过1亿。袁旭说，在迅游科技创立之初，公司就定下了未来几年内上市的目标。迅游科技属互联网及软件业，创业领域符合国家产业发展方向、符合创业板高新技术的要求，成都高新区也给予了积极扶持。从2009年开始，迅游科技实现了盈亏平衡。2010年，其营收突破5000万元关口，利润率高达50%。值得注意的是，早在2010年左右，迅游就获得了挚信资本、达晨创投 、成都盈创动力和亚商新兴4家投资机构的投资。2012年、2013年，袁旭连续两次入选福布斯中国30位30岁以下优秀创业者榜单。成都高新区成创业圆梦之地“我们将继续支持辖区企业融入多层次资本市场，着力构建全国一流的金融环境，让企业上市成为一种常态！”成都高新区相关负责人表示，“迅游科技成功上市，既是成都高新区多年以来不遗余力培育企业改制上市的结果，内中国资本市场支持‘大众创业、万众创新’的成果体现。”目前，成都高新区已出台了系列优惠政策，从主板、中小板、创业板、海外板、新三板等方面，都为企业上市（挂牌）提供了良好条件。企业在不同成长阶段，都能够得到订制化的专业金融服务。据介绍，成都高新区对以上市（挂牌）为目的进行股份制改造的企业，完成股份制公司工商注册后给予50万元一次性补贴。对获得证监会正式受理的沪、深交易所IPO申报企业，给予200万元一次性补贴；对在沪、深交易所、全国中小企业股份转让系统、成都（川藏）股权交易中心（融资板或交易板）成功上市（挂牌）的企业，分别给予50万元、50万元、30万元一次性补贴；对经政府行业主管部门认定的在境外资本市场上市（挂牌）的企业，给予最高不超过300万元一次性补贴。                      返回新闻首页>>
          .col-sm-4.col-sm-offset-4
            nav
              ul.pager
                li.previous
                  a(href="#")
                    span(aria-hidden="true") &larr;
                    | 上一篇
                li.next
                  a(href="#")
                    | 下一篇
                    span(aria-hidden="true") &rarr;
    include ../public/_footer
    //jQuery (necessary for Bootstrap's JavaScript plugins)
    script(src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js")
    //Include all compiled plugins (below), or include individual files as needed
    script(src="../public/bootstrap/js/bootstrap.min.js")
    script.
      (function(window,undefined){
        function showHeight(){
          var topHeight = $('.main-bx').height(),
            $sidebar = $('.sidebar');
          if($(window).width()>=768){
            $sidebar.height(topHeight);
          }else{
            $sidebar.css('height','auto');
          }
        }
        showHeight()
        $(window).resize(showHeight);
      })(window)
    //base
    //script(src="static/js/base.js")
    //script(src="static/js/baseAjax.js")
