head
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="description" content="（Federation of China Youth Entrepreneurs，英文缩写FCYE），简称青创会，由来自全球的创业青年、青年企业经营管理人员及创业导师组成的联合性、非政治性、非营利性并具有独立法人资格的全球性组织，旨在促进创业青年风雨同舟、强强联手，和合共荣。")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  meta(name="renderer" content="webkit")
  title 首页-青年创业者联合会
  //Bootstrap
  //link(href="../public/bootstrap/css/bootstrap.min.css" rel="stylesheet")
  link(href="../static/css/base.css" rel="stylesheet")
  //HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  // if lt IE 9
     script(src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js")
     script(src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js")